body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#routes-container {
  display: flex;
  flex-direction: row;
  /* height: 100vh; */
}

#trade-container {
  width: 40%;
  min-width: 200px;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 50%;
  background-color: #ffffffdd;
  padding: 30px;
}

#transactions-container {
  width: 60%;
  min-width: 200px;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 50%;
  background-color: #ffffffdd;
  padding: 30px;
}

.transactions-border {
  width: 100%;
  height: 2px;
  background-color: #0ad3e9;
  margin-top: 16px;
}

.transactions-list-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

#portfolio-container {
  width: 60%;
  min-width: 200px;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 50%;
  background-color: #ffffffdd;
  padding: 30px;
}
