#auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px;
  justify-content: space-between;
}

#auth-button-signup {
  font-size: 16px;
  height: 30px;
  width: 200px;
  border-radius: 10px;
  margin-left: 55px;
  margin-right: 5px;
}

#auth-button-login {
  font-size: 16px;
  height: 30px;
  width: 150px;
  border-radius: 10px;
  margin-left: 80px;
  margin-right: 50px;
}

.auth-button-div {
  padding-top: 10px;
}

#auth-form {
  width: 100%;
  width: 350px;
  min-width: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
  justify-content: space-between;
  padding: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: var(--off-white-opaque);
}

#auth-type {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#input-trade-quantity {
  width: 120px;
  height: 10px;
  padding: 10px;
  margin-right: 100x;
  border-radius: 5px;
  border: 1px solid #4ab1ff;
}

#input-company-symbol {
  width: 320px;
  height: 10px;
  padding: 10px;
  margin-right: 100x;
  border-radius: 5px;
  border: 1px solid #4ab1ff;
  /* text-align: center; */
}

.auth-input {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  width: 325px;
  height: 10px;
  padding: 10px;
  margin-right: 100x;
  border-radius: 5px;
  border: 1px solid #4ab1ff;
}

.auth {
  margin-top: 5%;
  width: 30%;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#auth-buttons {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#auth-button-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#auth-type {
  margin: 5%;
  font-size: 2em;
  font-weight: 700;
}

#link-question {
  position: relative;
  padding-left: 10px;
  padding-right: 9px;
}

#link-p {
  width: 100%;
  margin-right: 10px;
}

.auth-divider {
  display: block;
  width: 100%;
  height: 44px;
  background-color: transparent;
  background: -webkit-linear-gradient(
    to right,
    #fff,
    rgba(255, 255, 255, 0),
    #fff
  );
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
  z-index: 1;
  content: '';
}

.auth-input-container {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

#checkout-button {
  height: 30px;
  width: 100px;
  border-radius: 10px;
  margin: 16px;
}

#input-trade-quantity {
  width: 120px;
  height: 10px;
  padding: 10px;
  margin-right: 100x;
  border-radius: 5px;
  border: 1px solid #4ab1ff;
}

#input-company-symbol {
  width: 320px;
  height: 10px;
  padding: 10px;
  margin-right: 100x;
  border-radius: 5px;
  border: 1px solid #4ab1ff;
  /* text-align: center; */
}

#input-quantity {
}

.glow-buttons:hover {
  /* color: rgba(255, 255, 255, 1); */
  /* box-shadow: 0 5px 15px #4ab1ff; */
  background: #4ab1ff;
  color: white;
  opacity: 0.5;
}

label {
  display: block;
}

.link-buttons {
  /* font: bold 11px Arial; */
  /* text-decoration: none; */
  /* background-color: #EEEEEE; */
  color: #4ab1ff;
  font-size: 26px;
  /* padding: 2px 6px 2px 6px; */
  border-top: 1px #bababa;
  border-right: 1px #bababa;
  border-bottom: 1px #bababa;
  border-left: 1px #bababa;
  font-size: 12px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;

  transition: 0.5s;

  padding: 5px;
  border-radius: 5px;
}

.active-link-buttons {
  background: #4ab1ff;
  color: white;
  opacity: 0.5;
}

#nav-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin-left: 40px;
}

#nav-divider {
  width: 100%;
  align-self: center;
  height: 35px;
  margin: 0;
  padding: 0;
  background-color: #4ab1ff;
}

#nav-menu {
  display: flex;
  margin: 0;
  padding: 0;
  width: 80%;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  margin-left: 120px;
}

#nav-menu-two {
  margin: 0;
  padding: 0;
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: #4ab1ff; */
  background-color: red;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#routes-container {
  display: flex;
  flex-direction: row;
  /* height: 100vh; */
}

.required-field::after {
  content: '*';
  color: red;
}

#trade-container {
  width: 35%;
  min-width: 200px;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  height: 50%;
  background-color: #ffffffdd;
  padding: 30px;
  margin-left: 50px;
  margin-right: 100px;
}

#transactions-container {
  width: 65%;
  min-width: 200px;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  height: 50%;
  background-color: #ffffffdd;
  padding: 30px;
  margin-left: 80px;
}

.transactions-border {
  width: 100%;
  height: 2px;
  background-color: #4ab1ff;
  margin-top: 16px;
}

#trade-company-symbol {
  display: flex;
  flex-flow: row nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* margin:15px -15px; */
  border-right: 30px solid transparent;
}

#trade-form {
  /* border-right: 120px solid transparent; */
  /* border-right: 500px; */
  margin-left: 100px;
}

.transactions-list-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.search-bar-container {
  width: 90%;
  height: 40px;
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid #4ab1ff;
}

.portfolio-button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}

.portfolio-border {
  width: 100%;
  height: 2px;
  background-color: #4ab1ff;
  margin-top: 16px;
}

#portfolio-container {
  width: 65%;
  min-width: 200px;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  height: 50%;
  background-color: #ffffffdd;
  padding: 30px;
  margin-left: 100px;
  border-radius: 5px;
}

.portfolio-list-row {
  display: flex;
  flex-flow: row nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

small {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

#top-level-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#welcome-message {
  display: flex;
  align-items: center;
  padding-left: 42px;
  padding-top: 25px;
  padding-bottom: 30px;
}
